
.select-component {
    height: 30px !important;
    border-radius: 0 !important;
  }
  
  .select-component fieldset {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
  }
  
